---
title: Welcome to Middleman
---

<h1>Issues</h1>
<% issues.each do |issue| %>
  <h2><%= issue.title %></h2>
  <img src="<%= issue.cover_image.url %>" />
  <br />
  <%= issue.published_at %>
  <h3>Articles</h3>
  <ul>
    <% issue.articles.each do |article| %>
      <li><em><%= article.title %></em> by <a href="<%= article.authors.first.website %>"><%= article.authors.first.name %></a></li>
    <% end %>
<% end %>
